.outer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500PX;
    width: 1300px;
    margin-left: 230px;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid  rgb(184, 132, 65);
    background-color: bisque;
}
.card-outer {
    width: 500px;
    height: 300px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin: 50px auto;
    z-index: 5;
    background-color: rgb(250, 208, 157);
    border: 2px solid rgb(184, 132, 65);}

  .card-inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .profile-pic {
    width: 105px;
    height: 150px;
    border-radius: 50%;
    margin: 25px;
  }
  
  .about-me {
    padding: 25px;
    width: calc(100% - 200px);
  }
  
  .about-me h2 {
    margin-bottom: 15px;
  }
  
  .about-me p {
    font-size: 14px;
    line-height: 1.5;
  }
  #portfolioBtn{
  
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid bisque;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px #ccc;
    height: 40px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #4c93af;
    color: #f09116;
    font-weight: bold;
  }
  #portfolioBtn:hover{
    background-color: #f09116;
    box-shadow: 7px 7px 7px #ccc;
    color: #4c93af ;
  }