.outer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500PX;
    width: 1300px;
    margin-left: 230px;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid  rgb(184, 132, 65);
    background-color: bisque; background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    }
  
  @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
      }
}

.card-outer {
    width: 500px;
    height: 300px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin: 50px auto;
    z-index: 5;
    background-color: rgb(250, 208, 157);
    border: 2px solid rgb(184, 132, 65);
    margin-top: -23px;
  
   
    /* max-height: 600px; */
    
   
    }

  .card-inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .profile-pic {
    width: 105px;
    height: 150px;
    border-radius: 50%;
    margin: 25px;
  }
  
  .about-me {
    padding: 25px;
    width: calc(100% - 200px);
  }
  
  .about-me h2 {
    margin-bottom: 15px;
  }
  
  .about-me p {
    font-size: 14px;
    line-height: 1.5;
  }
  #portfolioBtn{
  
    
    border-radius: 10px;
    border: 2px solid bisque;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px #ccc;
    height: 30px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #4c93af;
    color: #f09116;
    font-weight: bold;
  }
  #portfolioBtn:hover{
    background-color: #f09116;
    box-shadow: 7px 7px 7px #ccc;
    color: #4c93af ;
  }
  @media screen and (max-width: 768px) {
    .outer-card {
      width: 90%;
      margin-left: 0;
    }
    .card-outer {
      width: 90%;
      height: 70%;
      margin: 0;
    }
    .card-inner {
      flex-direction: column;
    }
    .profile-pic {
      width: 15%;
      height: 80%;
      margin: 0;
    }
    .about-me {
      width: 80%;
      padding: 0;
    }
  }
    
  