
#contact {
    position: relative;
    z-index: 1;
  }
.speech-bubble {
	position: relative;
	background:rgb(248, 213, 170);
	border-radius: 50px;
    width: 500px;
    text-align: center;
    
    margin-top:  40px;
    margin-left:  700px;
    box-shadow: 10px 10px 10px #ccc;
    
}


.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 49px solid transparent;
	border-top-color: rgb(250, 216, 175);
	border-bottom: 0;
	border-left: 0;
	margin-left: -24.5px;
	margin-bottom: -49px;
    
}
@media screen and (max-width: 1010px) {
    .speech-bubble {
        display: none;
        position: relative;
        background:rgb(248, 213, 170);
        border-radius: 20px;
        width: 250px;
        text-align: center;
        
        margin-top:  20px;
        margin-left:  350px;
        box-shadow: 10px 10px 10px #ccc;
        
    }
    
    .speech-bubble:after {
        display: none
        ;
        content: '';
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 0;
        height: 0;
        border: 49px solid transparent;
        border-top-color: rgb(250, 216, 175);
        border-bottom: 0;
        border-left: 0;
        margin-left: -12px;
        margin-bottom: -25px;
    }}