.App form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
    background-color: rgb(250, 208, 157);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(168, 23, 23, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    height: 440px;
    width: 85%;
    margin-left: 380px;
    border: 2px solid rgb(184, 132, 65);
  }
  
  .App input[type='text'] {
    width: 100%;
    padding: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    /* box-shadow: 0px 0px 5px #ccc; */
    height: auto;
    inline-size: 550px;
    overflow-wrap: break-word; 
    border: 2px solid bisque;
      
  }
  
  
  .App button[type='submit'] {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background-color: #4c93af;
    color: #f09116;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border: 2px solid rgb(119, 70, 9);
    font-weight: bold;
   

  }
  
  .App button[type='submit']:hover {
    background-color: #f09116;
    box-shadow: 7px 7px 7px #ccc;
    
    color: #4c93af ;
  }

  @media screen and (max-width: 600px) {
    .App form {
      margin-left: 0;
      width: 100%;
      height: 100%;
      margin-top: 0;
      padding: 0;
      border: none;
      box-shadow: none;
    }
    .App input[type='text'] {
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
      font-size: 16px;
      border-radius: 50px;
      border: none;
      /* box-shadow: 0px 0px 5px #ccc; */
      height: auto;
      inline-size: 550px;
      overflow-wrap: break-word; 
      border: 2px solid bisque;
        
    }
    .App button[type='submit'] {
      width: 100%;
      padding: 20px;
      font-size: 18px;
      background-color: #4c93af;
      color: #f09116;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      margin-top: 50px;
      border: 2px solid rgb(119, 70, 9);
      font-weight: bold;
    }
    .App button[type='submit']:hover {
      background-color: #f09116;
      box-shadow: 7px 7px 7px #ccc;
      
      color: #4c93af ;
    }
  }
    @media screen {
      
    }
  