html, body {
    height: 100%;
    margin: 0;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -2%;
    margin-top: auto;
    position: fixed;
    
  }
  
  main {
    min-height: 100%;
    margin-bottom: -210px; /* height of the footer */
  }
@media screen and (max-width: 1625px) {
    
    }