
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 500px;
    margin: 30px;
   

    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(252, 211, 161);
    border: 2px solid rgb(0, 0, 0);
    height: 800px;
}

.project-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.project-description {
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    text-align: left;
}

.project-description h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.project-description a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
}

.project-description a:hover {
    color: #0056b3;
}

#img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}